<div class="container md:px-4 lg:px-5">
  <header style="background-image: url('./assets/img/bg1.jpg');" class="bg-center bg-cover bg-no-repeat relative text-white">
    <div class="absolute bg-gray-800 bg-opacity-60 top-0 left-0 right-0 h-full">
    </div>
    <section class="z-10 relative py-3 px-5">
      <div class="flex justify-between items-center">
        <ul class="space-x-3 hidden lg:block w-full text-sm">
          <li class="inline-block">Berita Desa</li>
          <li class="inline-block">Program Kerja</li>
          <li class="inline-block">Panduan Layanan</li>
        </ul>
        <div class="flex gap-3 flex-wrap justify-end w-full">
          <a href="#" class="btn btn-primary text-sm">Layanan Mandiri <i class="fa fa-external-link-alt ml-1"></i></a>
          <a href="#" class="btn btn-accent text-sm">Login Admin <i class="fa fa-external-link-alt ml-1"></i></a>
        </div>
      </div>
    </section>
    <section class="relative z-10 text-center space-y-2 mt-3">
      <figure>
        <img src="./assets/img/luwu-utara.png" alt="Logo Luwu Utara" class="h-16 mx-auto pb-2">
      </figure>
      <h1 class="text-h2">Desa Sukaraya</h1>
      <p>Kec. Bone-Bone, Kab. Luwu Utara, Provinsi Sulawesi Selatan</p>
      <div class="grid grid-cols-3 gap-30 w-1/4 mx-auto shadow pt-3 pb-1">
        {% for i in range(0,3) %}
          <div class="h-20 w-20 bg-slate-200"></div>
        {% endfor %}
      </div>
    </section>
    <marquee onmouseover="this.stop();" onmouseout="this.start();" class="block bg-white bg-opacity-40 py-2 text-xs text-white mt-6 mb-0">Selamat datang di website resmi Pemerintah Desa Sukaraya, Kecamatan-Bone-Bone, Kabupaten Luwu Utara. Informasi dan data desa dapat diakses melalui menu yang tersedia</marquee>
  </header>
  {% include "partials/nav.html" -%}
</div>