{% set menu_list = [
  {
    'name': 'Profil',
    'submenu': ['Sejarah Desa', 'Info Umum Desa', 'Status Desa', 'Peta Desa']
  },
  {
    'name': 'Pemerintah Desa',
    'submenu': ['Visi Misi', 'Data Perangkat', 'SOTK', 'Badan Permusyawaratan Desa', 'RT/RW']
  },
  {
    'name': 'Data Desa',
    'submenu': ['Data Umur', 'Data Jenis Kelamin', 'Data Agama', 'Data Pendidikan', 'Statistik Pekerjaan']
  },
  {
    'name': 'Regulasi',
    'submenu': ['Produk Hukum', 'Informasi Publik']
  },
  {
    'name': 'Lapak',
    'submenu': []
  }
  ] %}
<nav class="bg-primary-100 text-white">
  <ul>
    <li class="inline-block">
      <a href="#"  class="inline-block py-3 px-4 hover:bg-secondary-100"><i class="fa fa-home"></i></a>
    </li>
    {% for menu in menu_list %}
      <li
        {% if menu.submenu | length -%}
          x-data="{dropdown:false}"
        {%- endif %}
        class="inline-block relative"
      >
        <a href="#" 
          class="p-3 inline-block hover:bg-secondary-100"
          @mouseover="dropdown = true"
          @mouseleave="dropdown = false">
          {{ menu.name }}
          {% if menu.submenu | length %}<i class="fas fa-chevron-down text-xs ml-1 inline-block transition duration-300" :class="{'transform rotate-180': dropdown}"></i>{% endif %}
        </a>
        {% if menu.submenu | length -%}
          <ul
            class="absolute top-full w-64 bg-white text-gray-700 shadow-lg invisible transform transition duration-200 origin-top" 
            :class="{'opacity-0 invisible z-[-10] scale-y-50': !dropdown, 'opacity-100 visible z-30 scale-y-100': dropdown}"
            x-transition
            @mouseover="dropdown = true"
            @mouseleave="dropdown = false">
            {% for submenu in menu.submenu %}
              <li><a href="#" class="block py-3 pl-5 pr-4 hover:bg-secondary-100 hover:text-white">{{ submenu }}</a></li>
            {% endfor %}
          </ul>
        {%- endif %}
      </li>
    {% endfor %}
  </ul>
</nav>