<aside class="space-y-5">
  <form action="" role="form" class="relative">
    <i class="fas fa-search absolute top-1/2 left-0 transform -translate-y-1/2 z-10 px-3 text-gray-500"></i>
    <input type="text"class="form-input px-10 w-full h-12 bg-white relative inline-block" placeholder="Cari...">
  </form>
  <div class="shadow rounded-lg bg-white overflow-hidden">
    <div class="bg-sidebar text-secondary-100 bg-opacity-50 px-3 lg:px-5">
      <h3 class="text-h5 py-2"><i class="fas fa-map mr-1"></i> Peta Desa</h3>
    </div>
    <div class="px-3 lg:px-5 py-4">
      <img src="./assets/img/peta.png" alt="Peta Desa" class="w-full h-auto">
      <a href="" class="underline decoration-secondary-100 underline-offset-2 text-primary-200 decoration-2">Buka Peta</a>
    </div>
  </div>
  <div class="shadow rounded-lg bg-white overflow-hidden">
    <div class="bg-sidebar text-secondary-100 bg-opacity-50 px-3 lg:px-5">
      <h3 class="text-h5 py-2"><i class="fas fa-chart-bar mr-1"></i> Statistik Penduduk</h3>
    </div>
    <div class="px-3 lg:px-5 py-4">
      <img src="./assets/img/chart.png" alt="Statistik Penduduk Desa" class="w-2/3 mx-auto h-auto">
      <a href="" class="underline decoration-secondary-100 underline-offset-2 text-primary-200 decoration-2 my-1">Lihat rincian</a>
    </div>
  </div>
</aside>