<h3 id="badge" class="text-xl font-bold pt-8 pb-3">Badge</h3>
<div class="inline-flex items-end flex-wrap gap-3 w-full my-1">
  <div class="badge">badge info</div>
  <div class="badge text-sm">badge info</div>
  <div class="badge text-base">badge info</div>
</div>
<div class="inline-flex items-end flex-wrap gap-3 w-full my-1">
  <div class="badge badge-primary">badge primary</div>
  <div class="badge badge-primary text-sm">badge primary</div>
  <div class="badge badge-primary text-base">badge primary</div>
</div>
<div class="inline-flex items-end flex-wrap gap-3 w-full my-1">
  <div class="badge badge-secondary">badge secondary</div>
  <div class="badge badge-secondary text-sm">badge secondary</div>
  <div class="badge badge-secondary text-base">badge secondary</div>
</div>
<div class="inline-flex items-end flex-wrap gap-3 w-full my-1">
  <div class="badge badge-accent">badge accent</div>
  <div class="badge badge-accent text-sm">badge accent</div>
  <div class="badge badge-accent text-base">badge accent</div>
</div>
<pre class="code">
&lt;div class="inline-flex items-end flex-wrap gap-3 w-full my-1"&gt;
  &lt;div class="badge"&gt;badge info&lt;/div&gt;
  &lt;div class="badge text-sm"&gt;badge info&lt;/div&gt;
  &lt;div class="badge text-base"&gt;badge info&lt;/div&gt;
&lt;/div&gt;
&lt;div class="inline-flex items-end flex-wrap gap-3 w-full my-1"&gt;
  &lt;div class="badge badge-primary"&gt;badge primary&lt;/div&gt;
  &lt;div class="badge badge-primary text-sm"&gt;badge primary&lt;/div&gt;
  &lt;div class="badge badge-primary text-base"&gt;badge primary&lt;/div&gt;
&lt;/div&gt;
&lt;div class="inline-flex items-end flex-wrap gap-3 w-full my-1"&gt;
  &lt;div class="badge badge-secondary"&gt;badge secondary&lt;/div&gt;
  &lt;div class="badge badge-secondary text-sm"&gt;badge secondary&lt;/div&gt;
  &lt;div class="badge badge-secondary text-base"&gt;badge secondary&lt;/div&gt;
&lt;/div&gt;
&lt;div class="inline-flex items-end flex-wrap gap-3 w-full my-1"&gt;
  &lt;div class="badge badge-accent"&gt;badge accent&lt;/div&gt;
  &lt;div class="badge badge-accent text-sm"&gt;badge accent&lt;/div&gt;
  &lt;div class="badge badge-accent text-base"&gt;badge accent&lt;/div&gt;
&lt;/div&gt;</pre>