<h3 id="breadcrumb" class="text-xl font-bold pt-8 pb-3">Breadcrumb</h3>

<div class="breadcrumb my-1 text-sm">
  <ol>
    <li><a href="#">Beranda</a></li>
    <li>Artikel</li>
  </ol>
</div>
<div class="breadcrumb my-1 text-sm">
  <ol>
    <li><a href="#"><i class="fas fa-home mr-1"></i> Beranda</a></li>
    <li><a href="#"><i class="fas fa-chart-pie mr-1"></i> Statistik</a></li>
    <li>Pendidikan Ditempuh</li>
  </ol>
</div>
<div class="breadcrumb my-1">
  <ol>
    <li><a href="#"><i class="fas fa-home mr-1"></i> Beranda</a></li>
    <li><a href="#"><i class="fas fa-chart-pie mr-1"></i> Statistik</a></li>
    <li>Pendidikan Ditempuh</li>
  </ol>
</div>
<pre class="code">
&lt;div class="breadcrumb my-1 text-sm"&gt;
  &lt;ol&gt;
    &lt;li&gt;&lt;a href="#"&gt;Beranda&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Artikel&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
&lt;div class="breadcrumb my-1 text-sm"&gt;
  &lt;ol&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fas fa-home mr-1"&gt;&lt;/i&gt; Beranda&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fas fa-chart-pie mr-1"&gt;&lt;/i&gt; Statistik&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Pendidikan Ditempuh&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
&lt;div class="breadcrumb my-1"&gt;
  &lt;ol&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fas fa-home mr-1"&gt;&lt;/i&gt; Beranda&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fas fa-chart-pie mr-1"&gt;&lt;/i&gt; Statistik&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;Pendidikan Ditempuh&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
</pre>
