<h3 id="button" class="text-xl font-bold pt-8 pb-3">Button</h3>
<div class="gap-3 inline-flex items-end my-1 flex-wrap">
  <button class="btn py-4 px-8">Plain Button</button>
  <button class="btn py-3 px-8">Plain Button</button>
  <button class="btn">Plain Button</button>
</div>
<div class="gap-3 inline-flex items-end my-1 flex-wrap">
  <button class="btn btn-primary py-4 px-8">Primary Button</button>
  <button class="btn btn-primary py-3 px-8">Primary Button</button>
  <button class="btn btn-primary">Primary Button</button>
</div>
<div class="gap-3 inline-flex items-end my-1 flex-wrap">
  <button class="btn btn-secondary py-4 px-8">Secondary Button</button>
  <button class="btn btn-secondary py-3 px-8">Secondary Button</button>
  <button class="btn btn-secondary">Secondary Button</button>
</div>
<div class="gap-3 inline-flex items-end my-1 flex-wrap">
  <button class="btn btn-accent py-4 px-8">Accent Button</button>
  <button class="btn btn-accent py-3 px-8">Accent Button</button>
  <button class="btn btn-accent">Accent Button</button>
</div>
<div class="gap-3 inline-flex items-end my-1 flex-wrap">
  <button class="btn btn-primary py-4 px-8" disabled>Disabled Button</button>
  <button class="btn btn-primary py-3 px-8" disabled>Disabled Button</button>
  <button class="btn btn-primary" disabled>Disabled Button</button>
</div>
<div class="overflow-none">
  <pre class="code">
  &lt;div class="gap-3 inline-flex items-end my-1 flex-wrap"&gt;
    &lt;button class="btn py-4 px-8"&gt;Plain Button&lt;/button&gt;
    &lt;button class="btn py-3 px-8"&gt;Plain Button&lt;/button&gt;
    &lt;button class="btn"&gt;Plain Button&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="gap-3 inline-flex items-end my-1 flex-wrap"&gt;
    &lt;button class="btn btn-primary py-4 px-8"&gt;Primary Button&lt;/button&gt;
    &lt;button class="btn btn-primary py-3 px-8"&gt;Primary Button&lt;/button&gt;
    &lt;button class="btn btn-primary"&gt;Primary Button&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="gap-3 inline-flex items-end my-1 flex-wrap"&gt;
    &lt;button class="btn btn-secondary py-4 px-8"&gt;Secondary Button&lt;/button&gt;
    &lt;button class="btn btn-secondary py-3 px-8"&gt;Secondary Button&lt;/button&gt;
    &lt;button class="btn btn-secondary"&gt;Secondary Button&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="gap-3 inline-flex items-end my-1 flex-wrap"&gt;
    &lt;button class="btn btn-accent py-4 px-8"&gt;Accent Button&lt;/button&gt;
    &lt;button class="btn btn-accent py-3 px-8"&gt;Accent Button&lt;/button&gt;
    &lt;button class="btn btn-accent"&gt;Accent Button&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="gap-3 inline-flex items-end my-1 flex-wrap"&gt;
    &lt;button class="btn btn-primary py-4 px-8" disabled&gt;Disabled Button&lt;/button&gt;
    &lt;button class="btn btn-primary py-3 px-8" disabled&gt;Disabled Button&lt;/button&gt;
    &lt;button class="btn btn-primary" disabled&gt;Disabled Button&lt;/button&gt;
  &lt;/div&gt;</pre>
</div>