<h3 id="lainnya" class="text-xl font-bold pt-8 pb-3">Lainnya</h3>

<div class="space-y-3">
  <p>Komponen yang belum ditambahkan di halaman ini akan diarahkan ke halaman <a
      href="https://tailwind-elements.com/quick-start/" target="_blank" class="underline underline-offset-2 decoration-secondary-100 text-primary-200">https://tailwind-elements.com/quick-start/ <i class="fa fa-external-link-alt text-xs ml-1"></i></a></p>
  <p>Plugin tersebut sangat membantu untuk migrasi dari Bootstrap ke Tailwindcss secara lebih mudah. Komponen-komponen
    yang sudah ada di Boostrap ditulis ulang ke Tailwindcss</p>
  <p>Enjoy!</p>
</div>