<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  {% block meta %}
    {% include "templates/meta.html" %}
  {% endblock %}
  {% block style -%}
    {% include "partials/source_css.html" -%}
    <link rel="stylesheet" href="./assets/css/style.min.css">
  {%- endblock %}
</head>
<body class="font-primary">
  {% block body -%}
    {% block header -%}
      {% include "partials/header.html" -%}
    {%- endblock %}
    {% block content -%}{%- endblock %}
    {% block footer -%}
      {% include "partials/footer.html" -%}
    {%- endblock %}
  {%- endblock %}
  {% block scripts -%}
    {% include "partials/source_js.html" -%}
    <script src="./assets/js/script.min.js"></script>
  {%- endblock %}
</body>
</html>