{% set menu_list = [
  {
    'name': 'Profil',
    'link': './post.html',
    'submenu': ['Sejarah Desa', 'Info Umum Desa', 'Peta Desa']
  },
  {
    'name': 'Pemerintah Desa',
    'link': './post.html',
    'submenu': ['Visi Misi', 'Data Perangkat', 'SOTK', 'Badan Permusyawaratan Desa', 'RT/RW']
  },
  {
    'name': 'Data Desa',
    'link': './statistic.html',
    'submenu': ['Data Umur', 'Data Jenis Kelamin', 'Data Agama', 'Data Pendidikan', 'Statistik Pekerjaan']
  },
  {
    'name': 'Regulasi',
    'link': './public-release.html',
    'submenu': ['Produk Hukum', 'Informasi Publik']
  },
  {
    'name': 'Lapak',
    'link': './lapak.html',
    'submenu': []
  },
  {
    'name': 'Arsip',
    'link': './archive.html',
    'submenu': []
  },
  {
    'name': 'Status IDM',
    'link': './idm.html',
    'submenu': []
  },
  {
    'name': 'Pembangunan',
    'link': './pembangunan.html',
    'submenu': []
  },
  {
    'name': 'Galeri',
    'link': './galeri.html',
    'submenu': []
  }
  ] %}