{% set menu_list = [
  {
    'name': 'Profil',
    'submenu': ['Sejarah Desa', 'Info Umum Desa', 'Status Desa', 'Peta Desa']
  },
  {
    'name': 'Pemerintah Desa',
    'submenu': ['Visi Misi', 'Data Perangkat', 'SOTK', 'Badan Permusyawaratan Desa', 'RT/RW']
  },
  {
    'name': 'Data Desa',
    'submenu': ['Data Umur', 'Data Jenis Kelamin', 'Data Agama', 'Data Pendidikan', 'Statistik Pekerjaan']
  },
  {
    'name': 'Regulasi',
    'submenu': ['Produk Hukum', 'Informasi Publik']
  },
  {
    'name': 'Lapak',
    'submenu': []
  }
  ] %}