{% set title = 'Halaman Arsip Artikel' -%}
{% extends "templates/master.html" -%}

{% block content -%}
<div class="container mx-auto lg:px-5 px-3 flex flex-col lg:flex-row my-5 gap-3 lg:gap-5 justify-between text-gray-600">
  <main class="lg:w-2/3 w-full space-y-1 bg-white rounded-lg px-4 py-2 lg:py-4 lg:px-5 shadow">
    <div class="breadcrumb">
      <ol>
        <li><a href="./post.html./home.html">Beranda</a></li>
        <li>Arsip Berita</li>
      </ol>
    </div>
    <h2 class="text-h2">Arsip Situs Web</h2>
    <ol class="divide-y mb-5">
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Polres
          Luwu Utara Siapkan 3 Pos Pengamanan Nataru, Ini Lokasinya</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">BMKG
          Keluarkan Peringatan Dini ‘AWAS’ dan ‘SIAGA’ Curah Hujan Tinggi di Luwu Utara, Ini Sebarannya</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">KPK
          Rilis Hasil Survei Penilaian Integritas, Luwu Utara Tertinggi di Sulsel</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">15
          Desa di Luwu Utara Jadi Lokasi Program Perlindungan Anak Sektor Kakao</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Bupati
          Luwu Utara Serahkan Bantuan untuk Korban Bencana Angin Puting Beliung di Desa Sukaraya</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Personil
          Polsek Bone-Bone Gelar PPKM Mikro Di Desa Sukaraya</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html]">Pemerintah
          Desa Sukaraya Lakukan Penyemprotan Disinfektan Rumah Warga Cegah Covid-19</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Kepala
          Desa Terpilih Periode 2021-2027 Luwu Utara Resmi Dilantik, Indah: Waktunya Bekerja</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Angin
          Kencang Rusak 25 Rumah di Desa Sukaraya Luwu Utara</a>
        <p class="text-sm">Diterbitkan pada 26 Desember 2021</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Fasilitas Kesehatan
          Desa Sukaraya</a>
        <p class="text-sm">Diterbitkan pada 27 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Fasilitas Tempat
          Ibadah Desa Sukaraya</a>
        <p class="text-sm">Diterbitkan pada 27 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Fasilitas Pendidikan
          Desa Sukaraya</a>
        <p class="text-sm">Diterbitkan pada 27 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Laporan Keuangan Desa Tahun
          2019</a>
        <p class="text-sm">Diterbitkan pada 27 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Update
          Corona 25 Juni 2020: Tiga Pelajar Terpapar Covid-19</a>
        <p class="text-sm">Diterbitkan pada 26 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">6
          Alasan Mengapa Anda Harus Berkunjung Ke Luwu Utara</a>
        <p class="text-sm">Diterbitkan pada 26 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2" href="./post.html">Visi Misi</a>
        <p class="text-sm">Diterbitkan pada 26 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2" href="./post.html">Sejarah
          Desa</a>
        <p class="text-sm">Diterbitkan pada 26 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Dimulai
          dari Desa, Pemkab Luwu Utara Bangun dan Tumbuhkan Industri Kreatif</a>
        <p class="text-sm">Diterbitkan pada 08 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
      <li class="py-5">
        <span class="fas fa-external-link-alt mr-2"></span>
        <a class="text-h6 transition-all duration-200 hover:underline hover:underline-offset-2 hover:decoration-secondary-100 hover:decoration-2"
          href="./post.html">Dinas
          Kominfo Gelar Bimtek Website untuk Aparat Desa se-Kabupaten Luwu Utara</a>
        <p class="text-sm">Diterbitkan pada 08 Juni 2020</p>
        <p class="text-sm">Oleh: Administrator</p>
      </li>
    </ol>
    {% include "partials/pagination.html" -%}
  </main>
  <div class="lg:w-1/3 w-full">
    {% include "partials/sidebar.html" -%}
  </div>
</div>
{%- endblock %}