{% set title = 'Halaman Produk Hukum' -%}
{% extends "templates/master.html" -%}

{% block content -%}
<div class="container mx-auto lg:px-5 px-3 flex flex-col lg:flex-row my-5 gap-3 lg:gap-5 justify-between text-gray-600">
  <main class="w-full space-y-1 bg-white rounded-lg px-4 py-2 lg:py-4 lg:px-5 shadow">
    <div class="breadcrumb">
      <ol>
        <li><a href="./home.html">Beranda</a></li>
        <li>Indeks Desa Membangun</li>
      </ol>
    </div>
    <article class="content">
      <h2 class="text-h2">Indeks Desa Membangun</h2>
      <script type="text/javascript">
        $(document).ready(function () {

          Highcharts.chart('container', {
            chart: {
              type: 'pie',
              options3d: {
                enabled: true,
                alpha: 45
              }
            },
            title: {
              text: 'Indeks Desa Membangun (IDM)'
            },
            subtitle: {
              text: 'SKOR : IKS, IKE, IKL'
            },

            plotOptions: {
              series: {
                colorByPoint: true
              },
              pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                showInLegend: true,
                depth: 45,
                innerSize: 70,
                dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.y:,.2f} / {point.percentage:.1f} %'
                }
              }
            },
            series: [{
              name: 'SKOR',
              shadow: 1,
              border: 1,
              data: [
                ['IKS', 0.86285714285714],
                ['IKE', 0.56666666666667],
                ['IKL', 0.66666666666667]
              ]
            }]
          });


        });
      </script>

      <div class="content py-5">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-5 max-w-full">
          {% set bgColors = ['bg-blue-500', 'bg-yellow-500', 'bg-green-500', 'bg-red-500'] %}
          {% for color in bgColors %}
          <div class="rounded overflow-hidden {{ color }} relative text-white py-5 px-3 lg:px-4">
            <div class="flex flex-col">
              <span class="text-lg lg:text-xl font-bold">0.7783</span>
              <span class="text-sm">SKOR IDM SAAT INI</span>
            </div>
            <div
              class="icon absolute right-0 mr-5 text-5xl text-gray-500 text-opacity-30 top-1/2 transform -translate-y-1/2">
              <i class="ion ion-arrow-graph-up-right"></i>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="flex flex-col lg:flex-row pt-5 justify-between">
          <div class="overflow-auto">
            <table class="overflow-auto table-striped table text-sm capitalize">
              <tbody>
                <tr>
                  <td width="30%">PROVINSI</td>
                  <td width="1">:</td>
                  <td>KALIMANTAN TENGAH</td>
                </tr>
                <tr>
                  <td>KABUPATEN</td>
                  <td> : </td>
                  <td>KABUPATEN KOTAWARINGIN BARAT</td>
                </tr>
                <tr>
                  <td>KECAMATAN</td>
                  <td> : </td>
                  <td>ARUT SELATAN</td>
                </tr>
                <tr>
                  <td>DESA</td>
                  <td> : </td>
                  <td>NATAI RAYA</td>
                </tr>
              </tbody>
            </table>
          </div>
          <figure class="highcharts-figure">
            <div id="container"></div>
          </figure>
        </div>


        <div class="table-responsive text-xs">
          <table class="table table-bordered dataTable table-striped table-hover tabel-daftar">
            <thead class="bg-gray color-palette">
              <tr>
                <th rowspan="2" class="padat">NO</th>
                <th rowspan="2">INDIKATOR IDM</th>
                <th rowspan="2">SKOR</th>
                <th rowspan="2">KETERANGAN</th>
                <th rowspan="2" nowrap="">KEGIATAN YANG DAPAT DILAKUKAN</th>
                <th rowspan="2">+NILAI</th>
                <th colspan="6" class="text-center">YANG DAPAT MELAKSANAKAN KEGIATAN</th>
              </tr>
              <tr>
                <th>PUSAT</th>
                <th>PROVINSI</th>
                <th>KABUPATEN</th>
                <th>DESA</th>
                <th>CSR</th>
                <th>LAINNYA</th>
              </tr>
            </thead>
            <tbody>
              <tr class=" ">
                <td class="text-center">1</td>
                <td style="min-width: 150px;">Skor Akses Sarkes</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Waktu tempuh dari ≤ 30 Menit</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>Dinkes, PU</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">2</td>
                <td style="min-width: 150px;">Skor Dokter</td>
                <td class="padat">0</td>
                <td style="min-width: 250px;">Jumlah Dokter Tidak ada</td>
                <td>Pengadaan Min 1 org Dokter</td>
                <td class="padat">0.00952381</td>
                <td></td>
                <td></td>
                <td>DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">3</td>
                <td style="min-width: 150px;">Skor Bidan </td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah bidan ≥ 1 orang</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">4</td>
                <td style="min-width: 150px;">Skor Nakes Lain</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah tenaga kesehatan lainnya ≥ 5 orang</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">5</td>
                <td style="min-width: 150px;">Skor Tingkat Kepesertaan BPJS</td>
                <td class="padat">3</td>
                <td style="min-width: 250px;">Jumlah peserta BPJS/jumlah penduduk antara 0,26 s.d 0,5</td>
                <td>Fasilitasi kepesertaan BPJS warga Desa hingga &gt; 75%</td>
                <td class="padat">0.00380952</td>
                <td></td>
                <td></td>
                <td>DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">6</td>
                <td style="min-width: 150px;">Skor Akses Poskesdes</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jarak tempuh menuju Poskesdes = 500 Meter</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">7</td>
                <td style="min-width: 150px;">Skor Aktivitas Posyandu</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Posyandu aktif 1 bulan sekali/ Jumlah Posyandu &gt; 0,75
                </td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td>DPMD</td>
                <td>DPMD, DINKES</td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">8</td>
                <td style="min-width: 150px;">Skor Akses SD/MI</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jarak tempuh menuju SD atau MI = 3000 Meter</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DISDIK, PU</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">9</td>
                <td style="min-width: 150px;">Skor Akses SMP/MTS</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jarak tempuh menuju SMP atau MTs ≤ 6000 Meter</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DISDIK, PU</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">10</td>
                <td style="min-width: 150px;">Skor Akses SMA/SMK</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Jarak tempuh menuju SMU atau SMK antara 6000,01 s.d 8000 Meter
                </td>
                <td>Perbaikan Akses</td>
                <td class="padat">0.00190476</td>
                <td></td>
                <td>DISDIK</td>
                <td>PU</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">11</td>
                <td style="min-width: 150px;">Skor Ketersediaan PAUD</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah PAUD ≥ 1 </td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td>DISDIK</td>
                <td>DISDIK</td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">12</td>
                <td style="min-width: 150px;">Skor Ketersediaan PKBM/ Paket ABC</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Jumlah PKBM atau Paket ABC Tidak ada</td>
                <td>Pelaksanaan Kegiatan PKBM/Kejar Paket A B C</td>
                <td class="padat">0.00761905</td>
                <td></td>
                <td></td>
                <td>DISDIK</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">13</td>
                <td style="min-width: 150px;">Skor Ketersediaan Kursus</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Jumlah Pusat Keterampilan atau Kursus Tidak ada</td>
                <td>Pengadaan Tempat Kursus/Pelatihan</td>
                <td class="padat">0.00761905</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">14</td>
                <td style="min-width: 150px;">Skor Ketersediaan Taman Baca/ Perpus Desa</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Taman Bacaan Masyarakat atau perpustakaan Desa tersedia </td>
                <td>-</td>
                <td class="padat">0</td>
                <td>Kemenperpus Arsip</td>
                <td>Dinas Perpus</td>
                <td>Dinas Perpus</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">15</td>
                <td style="min-width: 150px;">Skor Kebiasaan Goryong</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Terdapat Kebiasaan Gotong Royong</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">16</td>
                <td style="min-width: 150px;">Skor Frekuensi Goryong</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Frekuensi Gotong Royong &gt; 2</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">17</td>
                <td style="min-width: 150px;">Skor Ketersediaan Ruang Publik</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Ruang Publik terdapat didesa</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>PU</td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">18</td>
                <td style="min-width: 150px;">Skor Kelompok OR</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Jumlah kelompok kegiatan olahraga ada 1</td>
                <td>Penambahan Min 8 Kelp Olahragat</td>
                <td class="padat">0.00761905</td>
                <td></td>
                <td>DISPORA</td>
                <td>DISPORA</td>
                <td>Karang Taruna</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">19</td>
                <td style="min-width: 150px;">Skor Kegiatan OR</td>
                <td class="padat">2</td>
                <td style="min-width: 250px;">Jumlah kegiatan olahraga 2 s.d 3</td>
                <td>Pembangunan Min 6 Lap Olahraga</td>
                <td class="padat">0.00571429</td>
                <td>Kemepora/ Kemendes</td>
                <td>DISPORA</td>
                <td>DISPORA</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">20</td>
                <td style="min-width: 150px;">Skor Keragaman Agama</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Jenis Agama di Desa &gt; 1</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">21</td>
                <td style="min-width: 150px;">Skor Keragaman Bahasa</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Bahasa yang digunakan sehari-hari &gt; 1</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">22</td>
                <td style="min-width: 150px;">Skor Keragaman Komunikasi</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Warga Desa terdiri dari Suku &gt; 1</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">23</td>
                <td style="min-width: 150px;">Skor Poskamling</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Terdapat Pos Keamanan di Desa</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">24</td>
                <td style="min-width: 150px;">Skor Siskamling</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Terdapat Sistem Keamanan Lingkungan warga di Desa</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">25</td>
                <td style="min-width: 150px;">Skor Konflik</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Tidak terdapat atau tidak ada Konflik di Desa</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>Kesbangpol</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">26</td>
                <td style="min-width: 150px;">Skor PMKS</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah PMKS tidak ada atau 0 </td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>Dinsos</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">27</td>
                <td style="min-width: 150px;">Skor SLB</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Skor SLB = 0 </td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td>DIKNAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">28</td>
                <td style="min-width: 150px;">Skor Akses Listrik</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">(Jumlah Keluarga Memakai listrik + non Listrik/Jumlah keluarga
                  memakai listrik) ≥ 0,9 )</td>
                <td>-</td>
                <td class="padat">0</td>
                <td>ESDM</td>
                <td>ESDM</td>
                <td></td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">29</td>
                <td style="min-width: 150px;">Skor Sinyal Tlp</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Sinyal telepon seluler di Desa Kuat</td>
                <td>-</td>
                <td class="padat">0</td>
                <td>Kominfo</td>
                <td>Diskominfo</td>
                <td>Diskominfo</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">30</td>
                <td style="min-width: 150px;">Skor Internet Kantor Desa</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Terdapat fasilitas internet di kantor Desa </td>
                <td>-</td>
                <td class="padat">0</td>
                <td>Kominfo/ Kemendes</td>
                <td></td>
                <td></td>
                <td>Desa</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">31</td>
                <td style="min-width: 150px;">Skor Akses Internet Warga</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Terdapat Akses internet warga di Desa</td>
                <td>-</td>
                <td class="padat">0</td>
                <td>Kominfo</td>
                <td>Diskominfo</td>
                <td>Diskominfo</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">32</td>
                <td style="min-width: 150px;">Skor Akses Jamban</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Warga Desa BAB di Jamban Sendiri</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DINSOS,DINKES</td>
                <td></td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">33</td>
                <td style="min-width: 150px;">Skor Sampah</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Warga desa membuang sampah di Lubang atau di Bakar</td>
                <td>Pembangunan TPS danTPA Sampah </td>
                <td class="padat">0.00190476</td>
                <td></td>
                <td>DLH</td>
                <td>DLH, DKPP</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">34</td>
                <td style="min-width: 150px;">Skor Air Minum</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Sumber air minum berasal dari Sumur Bor/pompa, Sumur</td>
                <td>Pemasangan PDAM/Air Ledeng Tanpa Meteran</td>
                <td class="padat">0.00190476</td>
                <td>PAMSIMAS, PU</td>
                <td></td>
                <td>PU</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">35</td>
                <td style="min-width: 150px;">Skor Air Mandi &amp; Cuci</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Sumber air mandi dan cuci berasal dari Sumur Bor/pompa, Sumur
                </td>
                <td>Pemasangan PDAM/Air Ledeng Tanpa Meteran</td>
                <td class="padat">0.00190476</td>
                <td>PAMSIMAS, PU</td>
                <td></td>
                <td>PU</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class="judul ">
                <td class="text-center"></td>
                <td style="min-width: 150px;">IKS 2020</td>
                <td class="padat">0.85142857142857</td>
                <td style="min-width: 250px;"></td>
                <td></td>
                <td class="padat"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">1</td>
                <td style="min-width: 150px;">Skor Keragaman Produksi</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Industri Mikro/ Jumlah KK ≥ 0,004</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td>DISPERINDAKOP UKM</td>
                <td>DISPERINDAKOP UKM</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">2</td>
                <td style="min-width: 150px;">Skor Pertokoan</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Jarak ke kelompok pertokoan terdekat &gt; 25 KM</td>
                <td>Pembangunan Pusat pertokoan melalui kerjasama antar desa/melayani beberapa desa</td>
                <td class="padat">0.02222222</td>
                <td></td>
                <td></td>
                <td>DISPERINDAKOP UKM</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">3</td>
                <td style="min-width: 150px;">Skor Pasar</td>
                <td class="padat">3</td>
                <td style="min-width: 250px;">(Total KK/jumlah pasar(permanen)) antara 0,001 s.d 250</td>
                <td>Optimalisasi Pasar</td>
                <td class="padat">0.01111111</td>
                <td>Kemenperind, Kemendes</td>
                <td>DISPERINDAKOP UKM</td>
                <td>DISPERINDAKOP UKM</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">4</td>
                <td style="min-width: 150px;">Skor Toko/ Warung Kelontong</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah Toko dan warung kelontong &gt; 3</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td></td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">5</td>
                <td style="min-width: 150px;">Skor Kedai &amp; Penginapan</td>
                <td class="padat">3</td>
                <td style="min-width: 250px;">Jumlah Kedai dan Penginapan = 1</td>
                <td>Pembangunan 1 Unit Penginapan</td>
                <td class="padat">0.01111111</td>
                <td></td>
                <td>Dinas Pariwisata</td>
                <td>Dinas Pariwisata</td>
                <td>DD</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">6</td>
                <td style="min-width: 150px;">Skor POS &amp; Logistik</td>
                <td class="padat">3</td>
                <td style="min-width: 250px;">Jumlah pos dan jasa logistik = 1</td>
                <td>Pembangunan/Pengadaan Jasa logistik / kantor Pos (Identifikasi yang tidak ada)</td>
                <td class="padat">0.01111111</td>
                <td></td>
                <td></td>
                <td></td>
                <td>BUMDES</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">7</td>
                <td style="min-width: 150px;">Skor Bank &amp; BPR</td>
                <td class="padat">0</td>
                <td style="min-width: 250px;">Jumlah bank dan BPR = 0</td>
                <td>Fasilitasi Pembangunan Bank Pemerintah, Swasta &amp;/ BPR</td>
                <td class="padat">0.02777778</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">8</td>
                <td style="min-width: 150px;">Skor Kredit</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Jumlah fasilitas kredit = 0</td>
                <td>Penambahan 4 jenis Fasilitas Kredit (KUR/KKPE/KUK/Kredit lainnya)</td>
                <td class="padat">0.02222222</td>
                <td></td>
                <td></td>
                <td>DISPERINDAKOP UKM</td>
                <td>BUMDES/ Koperasi</td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">9</td>
                <td style="min-width: 150px;">Skor Lembaga Ekonomi</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jumlah koperasi aktif dan BUMDESA &gt; 1</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>DISPERINDAKOP UKM</td>
                <td>Desa</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">10</td>
                <td style="min-width: 150px;">Skor Moda Transportasi Umum</td>
                <td class="padat">1</td>
                <td style="min-width: 250px;">Transportasi Umum tidak ada</td>
                <td>Fasilitasi Pengadaan Transportasi Umum dengan Trayek Tetap</td>
                <td class="padat">0.02222222</td>
                <td></td>
                <td></td>
                <td>DISHUB</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">11</td>
                <td style="min-width: 150px;">Skor Keterbukaan Wilayah</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jalan di Desa dilalui oleh kendaraan bermotor roda empat atau
                  lebih Sepanjang Tahun </td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>PU</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">12</td>
                <td style="min-width: 150px;">Skor Kualitas Jalan</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Jenis permukaan jalan desa Aspal atau beton</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td></td>
                <td>PU</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class="judul ">
                <td class="text-center"></td>
                <td style="min-width: 150px;">IKE 2020</td>
                <td class="padat">0.61666666666667</td>
                <td style="min-width: 250px;"></td>
                <td></td>
                <td class="padat"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">1</td>
                <td style="min-width: 150px;">Skor Kualitas Lingkungan</td>
                <td class="padat">5</td>
                <td style="min-width: 250px;">Pencemaran (air, udara, tanah, limbah disungai) di desa [jumlah
                  pencemaran/4] = 0</td>
                <td>-</td>
                <td class="padat">0</td>
                <td></td>
                <td>DLH</td>
                <td>DLH, DINKES</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">2</td>
                <td style="min-width: 150px;">Skor Rawan Bencana</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Jenis bencana (longsor, banjir, kebakaran hutan) jenis bencana
                  di desa = 1</td>
                <td>Identifikasi 1 Jenis bencana (longsor, banjir, kebakaran hutan) untuk penanganan
                  pencegahan</td>
                <td class="padat">0.02222222</td>
                <td></td>
                <td>DISHUT/KPH, BPDB</td>
                <td>BPBD</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class=" ">
                <td class="text-center">3</td>
                <td style="min-width: 150px;">Skor Tanggap Bencana</td>
                <td class="padat">4</td>
                <td style="min-width: 250px;">Fasilitas mitigasi/tanggap bencana (peringatan dini bencana
                  alam, peringatan dini tsunami, perlengkapan keselamatan, jalur evakuasi) jumlah fasilitas
                  mitigasi / tanggap bencana = 2</td>
                <td>Pembangunan/Pengadaan 1 Fasilitas Mitigasi Bencana Sesuai karakteristik wilayah (Kebutuhan
                  sesuai hasil identifikasi kerawanan/potensi bencana)</td>
                <td class="padat">0.02222222</td>
                <td>BNPB, Kemendes</td>
                <td>DISHUT/KPH, BPDB, DINSOS</td>
                <td>DPBD, DINSOS</td>
                <td>DD</td>
                <td>CSR</td>
                <td></td>
              </tr>
              <tr class="judul ">
                <td class="text-center"></td>
                <td style="min-width: 150px;">IKL 2020</td>
                <td class="padat">0.86666666666667</td>
                <td style="min-width: 250px;"></td>
                <td></td>
                <td class="padat"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="judul ">
                <td class="text-center"></td>
                <td style="min-width: 150px;">IDM 2020</td>
                <td class="padat">0.77825396825397</td>
                <td style="min-width: 250px;"></td>
                <td></td>
                <td class="padat"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="judul ">
                <td class="text-center"></td>
                <td style="min-width: 150px;">STATUS IDM 2020</td>
                <td class="padat">Maju</td>
                <td style="min-width: 250px;"></td>
                <td></td>
                <td class="padat"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>M</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </main>
</div>
{%- endblock %}