{% set title = 'OpenSID-UI-alpha' -%}
{% set components = [
  'alert',
  'badge',
  'breadcrumb',
  'button',
  'form',
  'modal'
  ] 
-%}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Komponen untuk tampilan web desa berbasis OpenSID">
  {% include "partials/source_css.html" -%}
  <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-primary">
  {% block content -%}
  <header class="container py-3 px-3 lg:px-5 flex items-center bg-slate-50 sticky top-0">
    <h1 class="text-3xl font-bold text-primary-100">OpenSID<span class="text-secondary-100">UI</span><label class="badge text-xs align-super">alpha</label></h1>
  </header>
  <section class="text-slate-600 flex flex-col lg:flex-row gap-x-5 bg-slate-50 min-h-screen relative">
    <aside class="lg:w-1/4 bg-white shadow lg:px-5 px-3 py-5 flex-shrink-0 lg:h-screen overflow-y-auto lg:sticky top-0">
      <h2 class="font-lg text-primary-200 font-bold pb-3">Tema</h2>
      <ul>
        <li>
          <a href="./index.html#about" class="py-2 rounded-lg px-3 hover:bg-slate-50 block"><i
              class="fas fa-info-circle mr-1 text-secondary-100"></i> Tentang</a></li>
        <li>
          <a href="./index.html#colors" class="py-2 rounded-lg px-3 hover:bg-slate-50 block"><i
              class="fas fa-palette mr-1 text-secondary-100"></i> Warna</a></li>
        <li>
          <a href="./index.html#typography" class="py-2 rounded-lg px-3 hover:bg-slate-50 block"><i
              class="fas fa-font mr-1 text-secondary-100"></i> Tipografi</a></li>
        <li>
          <a href="./index.html#customization" class="py-2 rounded-lg px-3 hover:bg-slate-50 block"><i
              class="fas fa-mouse-pointer mr-1 text-secondary-100"></i> Kustomisasi</a></li>
      </ul>

      <h2 class="font-lg text-primary-200 font-bold pt-5 pb-3">Komponen</h2>
      <nav>
        <ul>
          {% for component in components -%}
          <li>
            <a href="./index.html#{{component}}" class="py-2 rounded-lg px-3 hover:bg-slate-50 block"><i
                class="fas fa-folder-open mr-1 text-secondary-100"></i> {{ component | capitalize }}</a>
          </li>
          {%- endfor %}
        </ul>
      </nav>
    </aside>
    <main class="bg-white shadow lg:p-5 p-3 w-full">

      {% include "components/theme.html" -%}
      {% for component in components %}
      {% include ["components/", component ,".html"] | join -%}
      {% endfor %}

    </main>
  </section>
  {%- endblock %}
  {% include "partials/source_js.html" -%}
  <script src="./assets/js/script.min.js"></script>
</body>

</html>