{% set title = 'Halaman Pembangunan' -%}
{% extends "templates/master.html" -%}

{% block content -%}
<div class="container mx-auto lg:px-5 px-3 flex flex-col lg:flex-row my-5 gap-3 lg:gap-5 justify-between text-gray-600">
  <main class="space-y-1 w-full bg-white rounded-lg px-4 py-2 lg:py-4 lg:px-5 shadow">
    <div class="breadcrumb">
      <ol>
        <li><a href="./home.html">Beranda</a></li>
        <li>Pembangunan</li>
      </ol>
    </div>
    <article class="content">
      <h2 class="text-h2">Pembangunan</h2>
      <div class="content py-5">
        <p>Segera ditambahkan</p>
      </div>
    </article>
  </main>
</div>
{%- endblock %}